.main-container a.openlucius-ldap-add,
.main-container a.openlucius-ldap-add:hover,
.main-container a.openlucius-ldap-add:active,
.main-container a.openlucius-ldap-add:visited {
  color: #fff;
}
table.ldap-mapping {
  width: 100%;
  margin: 10px 0;
}
table.ldap-mapping td {
  width: 200px;
}
table.ldap-mapping td:last-child {
  width: 5px;
}
.ldap-remove-row {
  cursor: pointer;
}
